<div class="row">
   <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
      <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-check"></i>Últimos Lotes Apurados <span></span>
      </h1>
   </div>

</div>


<div class="row">
   <div class="col-xs-12" ng-show="apuracoes">

      <table class="table table-bordered table-striped table-hover">
         <thead>
         <tr>
            <th width="10%">CNPJ</th>
            <th>Ano</th>
            <th>Trimestre</th>
            <th>Mês</th>
            <th>Lote</th>
            <th>Data Apuração</th>
            <th>Qtd Notas</th>
            <th>Total Notas</th>
            <th>ICMS</th>
            <th>ICMS + Selic</th>
            <th>Juros</th>
            <th>Crédito Bruto</th>
            <th>Crédito Atualizado</th>
            <th>Crédito Virtual</th>
            <th>Frete</th>

         </tr>
         </thead>
         <tbody>creditoAtualizado
         <tr ng-repeat="apuracao in apuracoes">
            <td>{{apuracao.cnpj}}</td>
            <td>{{apuracao.ano}}</td>
            <td>{{apuracao.trimestre}}</td>
            <td>{{apuracao.mes}}</td>
            <td>{{apuracao.lote}}</td>
            <td>{{apuracao.updatedAt | date}}</td>
            <td>{{apuracao.qtdNotas}}</td>
            <td>{{apuracao.valorTotal | currency}}</td>
            <td>{{apuracao.iCMS | currency}}</td>
            <td>{{apuracao.iCMSCorrigido | currency}}</td>
            <td>{{apuracao.juros | currency}}</td>
            <td>{{apuracao.creditoBruto.total | currency}}</td>
            <td>{{apuracao.creditoAtualizado.total | currency}}</td>
            <td>{{apuracao.creditoVirtual.total | currency}}</td>
            <td>{{apuracao.frete | currency}}</td>

         </tr>
         </tbody>
      </table>
   </div>

   <div class="col-xs-12" ng-hide="apuracoes">
      <h1><i class="fa fa-cog fa-spin"></i> Carregando...</h1>
   </div>

</div>