<div class="row">
   <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
      <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-check"></i>Últimos Lotes Apurados <span></span>
      </h1>
   </div>

</div>


<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="apuracoes.length">

      <table class="table table-bordered table-striped table-hover">
         <thead>
         <tr>
            <th width="10%">CNPJ</th>
            <th>Ano</th>
            <th>Trimestre</th>
            <th>Mês</th>
            <th>Lote</th>
            <th>Data Apuração</th>
            <th>Qtd Notas</th>
            <th>Total Notas</th>
            <th>ICMS</th>
            <th>ICMS + Selic</th>
            <th>Juros</th>
            <th>Bruto Pis</th>
            <th>Bruto Cofins</th>
            <!--<th>Crédito Atualizado</th>-->
            <!--<th>Crédito Virtual</th>-->
            <th>Frete</th>
             <th></th>

         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="apuracao in apuracoes">
            <td><a ng-href="#/home/detalhe/{{apuracao.id}}">{{apuracao.cnpj}} </a></td>
            <td>{{apuracao.ano}}</td>
            <td>{{apuracao.trimestre}}</td>
            <td>{{apuracao.mes}}</td>
            <td>{{apuracao.lote}}</td>
            <td>{{apuracao.updatedAt | date}}</td>
            <td>{{apuracao.qtdNotas}}</td>
            <td>{{apuracao.valorTotal | currency}}</td>
            <td>{{apuracao.iCMS | currency}}</td>
            <td>{{apuracao.iCMSCorrigido | currency}}</td>
            <td>{{apuracao.juros | currency}}</td>
            <td>{{apuracao.creditoBruto.pis | currency}}</td>
            <td>{{apuracao.creditoBruto.cofins | currency}}</td>
            <!--<td>{{apuracao.creditoAtualizado.total | currency}}</td>-->
            <!--<td>{{apuracao.creditoVirtual.total | currency}}</td>-->
            <td>{{apuracao.frete | currency}}</td>
            <td>
               <a class="btn btn-danger" ua-has-permission="admin" ng-click="remover(apuracao)" title="Remover"><i class="glyphicon glyphicon-remove"></i></a>
            </td>

         </tr>
         </tbody>
      </table>
   </div>

   <div class="col-xs-12" ng-hide="apuracoes.length">
      <h1><i class="fa fa-cog fa-spin"></i> Carregando...</h1>
   </div>

</div>