<div class="well no-padding">
   <form id="login-form" class="smart-form client-form" ua-reset-password ng-hide="emailSent">
      <header>
         Esqueceu Senha
      </header>

      <fieldset>

         <section>
            <label class="label">Informe seu e-mail</label>
            <label class="input"> <i class="icon-append fa fa-envelope"></i>
               <input type="email" name="login">
               <b class="tooltip tooltip-top-right">
                  <i class="fa fa-envelope txt-color-teal"></i> Informe o e-mail para recuperar a senha
               </b>
            </label>

            <div class="note">
               <a ui-sref="auth.login">Lembrei a senha!</a>
            </div>
         </section>

      </fieldset>
      <footer>
         <button type="submit" class="btn btn-primary">
            <span ng-show="!loading">Recuperar Senha</span>
            <span ng-show="loading"><i class="fa fa-spinner fa-spin"></i> Recuperando</span>
         </button>
      </footer>

      <div ng-show="error" class="alert alert-danger">{{ error.message }}</div>
   </form>

   <div ng-show="emailSent" class="alert alert-success">
      <i class="fa fa-check"></i> Um e-mail com um link foi enviado para sua caixa de entrada. Clique nele para cadastrar a nova senha.
   </div>

</div>
<h5 class="pull-right">
   <span class="hidden-mobile">Não tem cadastro?</span> <a ui-sref="auth.signup" class="btn btn-danger">Criar</a>
</h5>