<div class="row">
   <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
      <h1 class="page-title txt-color-blueDark">
         <i class="fa fa-lg fa-fw fa-list-ul"></i> Últimos Lotes Importados
      </h1>
   </div>
</div>

<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="lotes.length">

      <table class="table table-bordered table-striped table-hover">
         <thead>
         <tr>
            <th>Nome</th>
            <th>Status</th>
            <th>Data de Criação</th>
            <th>Qtd Credito</th>
            <th>Qtd Cancelamento</th>
            <th>Qtd Remessa</th>
            <th>Qtd Total</th>
            <th>Qtd Duplicadas</th>
            <th>Qtd Outros</th>
            <th></th>
         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="lote in lotes">
            <td>{{lote.nome}}</td>
            <td>{{lote.status}}</td>
            <td>{{lote.createdAt | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>{{lote.totalCredito}}</td>
            <td>{{lote.totalCancelamento}}</td>
            <td>{{lote.totalRemessa}}</td>
            <td>{{lote.total}}</td>
            <td>{{lote.duplicadas}}</td>
            <td>{{lote.naoSaoNotas}}</td>
            <td nowrap>

               <a class="btn btn-labeled btn-primary" ng-show="lote.status==='NOVO'" ng-click="apurar(lote, 'CUMULATIVO')"> <span class="btn-label"><i class="fa fa-play"></i></span>Cumulativo </a>
               <a class="btn btn-labeled btn-primary" ng-show="lote.status==='NOVO'" ng-click="apurar(lote, 'NAO_CUMULATIVO')"> <span class="btn-label"><i class="fa fa-play"></i></span>Não Cumulativo </a>

               <a class="btn btn-labeled btn-success" ng-show="lote.status==='PROCESSADO'" ng-click="apurar(lote, 'CUMULATIVO')"> <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Cumulativo </a>
               <a class="btn btn-labeled btn-success" ng-show="lote.status==='PROCESSADO'" ng-click="apurar(lote, 'NAO_CUMULATIVO')"> <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Não Cumulativo </a>

               <a class="btn btn-labeled btn-danger" ng-show="lote.status==='ERRO'" ng-click="apurar(lote, 'CUMULATIVO')"> <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cumulativo </a>
               <a class="btn btn-labeled btn-danger" ng-show="lote.status==='ERRO'" ng-click="apurar(lote, 'NAO_CUMULATIVO')"> <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Não Cumulativo </a>

               <a  class="btn btn-labeled btn-info" ng-show="lote.status==='PROCESSANDO' && regime==='CUMULATIVO'"> <span class="btn-label"><i class="fa fa-refresh fa-spin"></i></span>Processando Regime Cumulativo</a>
               <a  class="btn btn-labeled btn-info" ng-show="lote.status==='PROCESSANDO' && regime==='NAO_CUMULATIVO'"> <span class="btn-label"><i class="fa fa-refresh fa-spin"></i></span>Processando Regime Não Cumulativo</a>

               <a class="btn btn-labeled btn-danger" ng-show="lote.status==='PROCESSANDO'" ng-click="apurar(lote, 'CUMULATIVO')"> <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Reprocessar </a>

               <a class="btn btn-danger" ua-has-permission="admin" ng-click="remover(lote)" title="Remover"><i class="glyphicon glyphicon-remove"></i></a>

            </td>
         </tr>
         </tbody>
      </table>
   </div>

   <div class="col-xs-12" ng-hide="lotes.length">
      <h1><i class="fa fa-cog fa-spin"></i> Carregando...</h1>
   </div>

</div>


