<div class="row" ng-controller="LoteCtrl">
    <div class="col-xs-9" style="margin-bottom: 40px">
        <h3>Ultimos Lotes Importados</h3>
        <table class="table">
            <thead>
                <tr>
                    <th width="30%" >Nome</th>
                    <th >Status</th>
                    <th >Data Criação</th>
                    <th >Qtd Credito</th>
                    <th >Qtd Cancelamento</th>
                    <th >Qtd Remessa</th>
                    <th >Qtd Total</th>
                    <th >Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lote in lotes">
                    <td >{{lote.nome}}</td>
                    <td >{{lote.status}}</td>
                    <td >{{lote.createdAt}}</td>
                    <td >{{lote.totalCredito}}</td>
                    <td >{{lote.totalCancelamento}}</td>
                    <td >{{lote.totalRemessa}}</td>
                    <td >{{lote.total}}</td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="lote.processar(lote.name)" ng-disabled="!lote.status==='Novo'" >
                            <span class="glyphicon glyphicon-upload"></span> Processar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>