<div class="row">
   <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
      <h1 class="page-title txt-color-blueDark">
         <i class="fa fa-lg fa-fw fa-list-ul"></i> Ultimos Lotes Importados
      </h1>
   </div>
</div>

<div class="row">
   <div class="col-xs-12">

      <table class="table table-bordered table-striped table-hover">
         <thead>
            <tr>
               <th width="30%">Nome</th>
               <th>Status</th>
               <th>Data Criação</th>
               <th>Qtd Credito</th>
               <th>Qtd Cancelamento</th>
               <th>Qtd Remessa</th>
               <th>Qtd Total</th>
               <th>Ação</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="lote in lotes">
               <td>{{lote.nome}}</td>
               <td>{{lote.status}}</td>
               <td>{{lote.createdAt}}</td>
               <td>{{lote.totalCredito}}</td>
               <td>{{lote.totalCancelamento}}</td>
               <td>{{lote.totalRemessa}}</td>
               <td>{{lote.total}}</td>
               <td nowrap>
                  <button type="button" class="btn btn-success btn-xs" ng-click="lote.apurar(lote.name)"
                          ng-disabled="!lote.status==='Novo'">
                     <span class="glyphicon glyphicon-upload"></span> Processar
                  </button>
               </td>
            </tr>
         </tbody>
      </table>
   </div>

</div>
