<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-lg fa-fw fa-files-o"></i>Consultar Taxa Selic
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

            <label class="input">
                <input type="text" name="selic" placeholder="Data">
                <b class="tooltip tooltip-bottom-right">Data</b>
            </label>

            <label class="input">
                <input type="text" name="valor" placeholder="Valor">
                <b class="tooltip tooltip-bottom-right">Valor</b>
            </label>
            <label class="button">
                <button type="button" class="btn btn-danger btn-xs" ng-click="consultar()">
                    <span class="glyphicon glyphicon-trash"></span> Enviar
                </button>
            </label>
    </div>
</div>
