<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-lg fa-fw fa-files-o"></i>Consultar Taxa Selic
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

            <label class="input">
                <input type="text" name="selic" placeholder="Data" ng-model="data">
                <b class="tooltip tooltip-bottom-right">Data</b>
            </label>

            <label class="input">
                <input type="text" name="valor" placeholder="Valor" ng-model="valor">
                <b class="tooltip tooltip-bottom-right">Valor</b>
            </label>
            <label class="button">
                <button type="button" class="btn btn-danger btn-xs" ng-click="consultar()">
                    <span class="glyphicon glyphicon-trash"></span> Enviar
                </button>
            </label>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-md-4" ng-show="selic && !carregando">

       <div class="well ">
             <h3>Resultado: </h3> {{selic.valor | currency}}
       </div>

    </div>

   <div class="col-xs-12" ng-show="carregando">
      <h1><i class="fa fa-cog fa-spin"></i> Carregando...</h1>
   </div>

</div>

