<div class="well no-padding">
   <form id="login-form" class="smart-form client-form" ua-set-password ng-show="!passwordSaved">
      <header>
         Redefina sua senha
      </header>

      <fieldset>

         <section>
            <label class="label">Informe a nova senha</label>
            <label class="input"> <i class="icon-append fa fa-envelope"></i>
               <input name="new_password" type="password" placeholder="Nova senha">
               <b class="tooltip tooltip-top-right">
                  <i class="fa fa-envelope txt-color-teal"></i> Informe a nova senha, para atualizar seu cadastro!
               </b>
            </label>

            <div class="note">
               <a ui-sref="auth.login">Lembrei a senha!</a>
            </div>
         </section>

      </fieldset>
      <footer>
         <button type="submit" class="btn btn-primary">
            <span ng-show="!loading">Redefinir</span>
            <span ng-show="loading"><i class="fa fa-spinner fa-spin"></i> Redefinindo</span>
         </button>
      </footer>

      <div ng-show="error" class="alert alert-danger">{{ error.message }}</div>
   </form>

   <div ng-show="passwordSaved" class="alert alert-success">
      Sua nova senha foi salva, agora você pode <a ui-sref="auth.login">entrar</a>!
   </div>

</div>
<h5 class="pull-right">
   <span class="hidden-mobile">Não tem cadastro?</span> <a ui-sref="auth.signup" class="btn btn-danger">Criar</a>
</h5>
