<form class="form-signin" role="form" ua-signup ng-show="!verificationEmailSent">
    <h2 class="form-signin-heading">Sign up</h2>
    <input class="form-control" type="text" name="first_name" placeholder="Your name"><br>
    <input class="form-control" type="email" name="login" ua-is-email placeholder="Email"><br>
    <input class="form-control" name="password" placeholder="Password" type="password"><br>
    <button type="submit">Create account</button

    <p ng-show="loading"><i class="fa fa-spinner fa-spin"></i></p>
    <div ng-show="error" class="alert alert-danger" role="alert">{{ error.message }}</div>
</form>


<p ng-show="verificationEmailSent">An email has been sent to your inbox. Click on the link to verify your account.</p>
<p><a href="#/login">Log in</a></p>