   <body>
    <title>Nota fiscal</title>

    <h2>Nota Fiscal collection:</h2>
    <ul>
        <% _.each(notafiscals, function (notafiscal) { %>
        <li><%= notafiscal.toString() %></li>
        <% }) %>
    </ul>
   </body>